{% extends 'sorter/base.html' %}
{% load static %}

{% block title %}Vegetable sorter | 画像アップロード{% endblock %}

{% block header %}
<header class="masthead text-black text-center">
  <div class="container d-flex align-items-center flex-column">
    <div class="row">
      <div class="my-div-style w-100">
        <h1 class="mb-5">識別したい野菜の画像を選択してください</h1>
        <h4>画像はなるべく縦と横の比が1:1のものを選んでいただくと<br>正しい結果が表示されやすくなります</h4>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <table class="table">
            {{ form.as_table }}
          </table>
          <button type="submit" class="btn btn-primary">この画像を識別する！</button>
        </form>
      </div>
    </div>
  </div>
</header>

{% endblock %}